body{
    background: #CCC;
}
nav{
    text-align: center;
}
nav ul>li{
    list-style: none;
    display: inline;
}
#header{
    background: purple;
    color: white;
    border-radius: 30px;
    width: 100%;
    height: 80px;
}
#footer{
    background: purple;
    border-radius: 30px;
    text-align: center;
    color: white;
    width: 100%;
    height: 40px;
}