body{
    background: #CCC;
}
nav{
    text-align: center;
}
nav ul>li{
    list-style: none;
    display: inline;
}
li{
    list-style: none;
}
p{
    font-size: 25px;
}
#header{
    background: black;
    color: white;
    border-radius: 30px;
    width: 100%;
    height: 80px;
    float: top;
    
}
#mid{
    text-align: center;
    height: 475px;
}
#footer{
    background: black;
    border-radius: 30px;
    text-align: center;
    color: white;
    width: 100%;
    height: 40px;
    float: bottom;
}